<div class="size">
    <div class="container">
        <div class="card">
            <h5 class="card-title">Size</h5>
            <div class="card-body">
               <div class="row">
                   <div class="col-lg-6 small" (click)="onClickSize()">
                       <img src="../../assets/images/coffee-cup.png" class="cup"alt=""><br/>
                    <h6>Small</h6>
                   </div>
                   <div class="col-lg-6 medium" (click)="onClickSize()">
                    <img src="../../assets/images/coffee-cup.png" class="cup"alt=""><br/>
                    <h6>Medium</h6>
                   </div>
                   <div class="col-lg-6 large" (click)="onClickSize()">
                    <img src="../../assets/images/coffee-cup.png" class="cup"alt=""><br/>
                    <h6>Large</h6>
                   </div>
                   <div class="col-lg-6 xl" (click)="onClickSize()">
                    <img src="../../assets/images/coffee-cup.png" class="cup"alt=""><br/>
                    <h6>XL</h6>
                   </div>
               </div>
            </div>
          </div>
      </div>
</div>