.size{
    // ***************row  css *************//
      .row{
          margin-left: -20px;
          margin-right: -20px;
      }
      // ***************cup  css *************//
    .cup{
        width: 6vw;
        height: 12vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    // ***************small  css *************//
    .small{
        border: 2px solid #90CAF9;
        background-color: #90CAF9;
        padding: 8% 8%;
        h6{
            letter-spacing: .1em;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }
        
    }
    .medium{
        border: 2px solid #4FC3F7;
        background-color: #4FC3F7;
        padding: 8% 8%;
        h6{
            letter-spacing: .1em;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }
    }
    .large{
        border: 2px solid #29B6F6;
        background-color: #29B6F6;
        padding: 8% 8%;
        h6{
            letter-spacing: .1em;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }
    }
    .xl{
        border: 2px solid #039BE5;
        background-color: #039BE5;
        padding: 8% 8%;
        h6{
            letter-spacing: .1em;
            text-align: center;
            text-transform: uppercase;
            color: white;
        }
    }
}