<div class="orderComplete">
    <div class="container">
        <div class="card">
            <h5 class="card-title">ORDER COMPLETE</h5>
            <div class="card-body">
                <div class="row">
                    <h4>Thank for Your Order!</h4>
                    <h3>Order 50</h3>
                    <p>Your order will be ready in <br />5 minutes</p>
                </div>
                <div class="orderAgain">
                    <button class="button" (click)="orderAgainSubmt()">ORDER AGAIN</button>
                </div>
            </div>
        </div>
    </div>
</div>